# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
/C/.vs/KP_AP1_2/v15
/C/KP_AP1_2/Debug/KP_AP1_2.tlog
/C/KP_AP1_2/*.vcxproj
/C/*.sln
/C/KP_AP1_2/Debug/*.log
/C/KP_AP1_2/*.APS
/C/KP_AP1_2/*.filters
/C/KP_AP1_2/*.user
/C/text2.txt
/C/text1212.txt
/C/text.txt
/C/KP_AP1_2/fsf.txt
/C/KP_AP1_2/Debug/db.obj.enc
/C/KP_AP1_2/Debug
/C/KP_AP1_2/adad.txt
/C/KP_AP1_2/123.55
